<div class="produto-lista">
  <header class="produto-lista__cabecalho">
    <h1>Produtos</h1>
    <a mat-flat-button color="primary" routerLink="/produtos/novo">
      <mat-icon>add</mat-icon>
      Novo produto
    </a>
  </header>

  @if (carregando()) {
    <div class="produto-lista__carregando">
      <mat-spinner diameter="32" />
    </div>
  } @else {
    <table mat-table [dataSource]="produtos()" class="mat-elevation-z1">
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef>Código</th>
        <td mat-cell *matCellDef="let produto">{{ produto.codigo }}</td>
      </ng-container>

      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef>Descrição</th>
        <td mat-cell *matCellDef="let produto">{{ produto.descricao }}</td>
      </ng-container>

      <ng-container matColumnDef="saldo">
        <th mat-header-cell *matHeaderCellDef>Saldo</th>
        <td mat-cell *matCellDef="let produto">{{ produto.saldo }}</td>
      </ng-container>

      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let produto">
          <a mat-icon-button [routerLink]="['/produtos', produto.codigo, 'editar']" aria-label="Editar">
            <mat-icon>edit</mat-icon>
          </a>
          <button mat-icon-button (click)="remover(produto)" aria-label="Remover">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="colunas"></tr>
      <tr mat-row *matRowDef="let row; columns: colunas"></tr>
    </table>

    @if (produtos().length === 0) {
      <p class="produto-lista__vazio">Nenhum produto cadastrado.</p>
    }
  }
</div>
